@media (max-width:500px){
footer{
    width: 100vw;
   svg{
    display: flex;
    flex-flow: row nowrap;
   }

}

h1{
    font-size: 20px;
}
.pipi{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.col-md-6{
    svg{
        width: 35px;
        height: 45px;
    }
}
nav{
    ul{
        margin: 0px;
    }
}
.tt{
    select{
        justify-content: center;
    }
}
.gridss{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.sidebar{
    display: none;
}
.ttt{
    img{
        width: 270px;
    }
    figure{
        width: 320px;
    }
}
}