.flex{
    display: flex;
   flex-flow:column wrap;
   justify-content:start;
   align-items:start;
}

.productos-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
   
    
}   
.productos-flex figure{
    border: solid black 2px;
    padding: 20px;
    background-color: beige;
   

    
}
.productos-flex figure figcaption{
    text-align: center; 
}

.productos-flex figure button{
    &:hover{
        cursor: pointer;
    }
    background-color: $figureButton;
    color: white;
    border-radius: $figureBorderRadius;
   

}
.tt select{
    width: 15vw;


}
.none li ::before{
     content:"-"; position:relative; left:-5px;
}
.none li{
    list-style: none;
}
select{
    background-color:rgb(255, 253, 252);
    border-radius: $figureBorderRadius;
    color:rgb(25, 4, 4);
}
select:hover{
    color: rgb(14, 237, 92);
    border-radius: 3px;
}
form{
    button{
        border-radius: $figureBorderRadius;
       &:hover{
        cursor: pointer;
       }

    }
}
.bg-merch{
 background: linear-gradient(to bottom, rgb(215, 180, 114) , $colorDeFondo);
}
.bg-merch1{
    background: linear-gradient(to top,rgb(215, 180, 114) , $colorDeFondo );
}

.t1{
    grid-area: 1;
}
.t2{
    grid-area: 2;
}
.t3{
    grid-area: 3;
}
.t4{
    grid-area: 4;
}
.t5{
    grid-area: 5;
}
.t6{
    grid-area: 6;
}
.t7{
    grid-area: 7;
}
.ttt{
    display: grid;
}