.flex{
    display: flex;
   flex-flow:column wrap;/* permite la direccion y como, wrap, nowrap. sirve para ajustarlo y que quede en la misma linea el nowrap*/
   justify-content:start;/*como se distribuyen las imagenes, izquierda derecha espaciado */
   align-items:start;/*eje vertical, como se posicionan en relacion a su height, arriba en el medio o abajo*/
}

.productos-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.productos-flex figure{
    border: solid black 2px;
    padding: 20px;
    background-color: beige;
   

    
}
.productos-flex figure figcaption{
    text-align: center;
}
.productos-flex figure button{
    background-color: $figureButton;
    color: white;
    border-radius: $figureBorderRadius;

}
.tt select{
    width: 15vw;

}
.none li ::before{
     content:"-"; position:relative; left:-5px;
}
.none li{
    list-style: none;
}
select{
    background-color:rgb(255, 253, 252);
    border-radius: $figureBorderRadius;
    color:rgb(25, 4, 4);
}
select:hover{
    color: rgb(14, 237, 92);
    border-radius: 3px;
}
form{
    button{
        border-radius: $figureBorderRadius;
    }
}