.nav{
    svg{
    width: 100%;
    
}

    ul li{
    a{
    letter-spacing:2px;
    color: black;
   
    &:hover{
        color: map-get($map: $paletaDeRojos, $key: cinco ); 
  background-color: rgb(73, 59, 59);
  border-radius: 5px;
  transform: scale(1.08);
  transition: all 0.4s;
}
}
margin-right: 17em;
    
}
background-color:$colorDeFondo;
border: $borderBlack;

}
