/*Colores*/
$colorDeFondo:rgb(227, 169, 59);
$hover:red;
$figureButton:rgb(129, 129, 5);
$merchFondo:rgb(253, 253, 252);


/*text-align*/
$textCenter:center;
$textRight:right;
$textLeft:left;

/*Borders*/
$borderBlack:solid black 3px;
$figureBorderRadius:10px;

/*fonts*/
$h1Size: 3vw;
$mainFont:tilt neon, cursive;


/*margins*/
$marginM:50px;

/*overflows*/
$overflow-x:hidden;




