@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "_vars";
@import "_mixings";
@import "nav";
@import "_footer";
@import "_merchandising";
@import "_media";

.border-radius{
    border-radius: $figureBorderRadius;
}
*{
    font-family:$mainFont;
}
html{
    overflow-x: $overflow-x;
    width: 98.7vw;
    height: 100vh;
}
h1{
 font-size: $h1Size ;
}
h4{
    font-size: 10vw 10vh;

}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
}
h3{
    font-family: 'Pacifico', cursive;
}
.bg-color{
    background-color:$colorDeFondo;
}


.text-center{
    text-align: $textCenter;
}
.text-right{
    text-align: $textRight;
}
.border{
    border: $borderBlack!important;
}
.bg-color2{
    background-color: white;
    word-spacing: 40px;
}
.display{
    display: inline-block;
}
.contenedor2{
    border: $borderBlack;
}

.card-text svg{
    color: gold;
}
.card-center{
    margin: 0 auto;
    width: 50%;
}


.text-center{
    a{
        img{
            width:90px
        }
    }
}

.cursor{
    cursor: alias;
}

p{
    @include textos (1em, 1.5em, black, center);
}
.bandera{
    @if $lang == arg {background-image: url(../img/Bandera\ arg.png);}
    @else if $lang == usa {background-image: url(../img/Bandera\ usa.png);}
}
.form-contenedor{
    button{
        margin-top: 10px;
    }
    background-color: white;
    border: $borderBlack;
margin: 1em;
padding: 1em;
}
.col-md-6{
    svg{
        fill: rgb(3, 3, 142);
    }
}
article {
   background:url(img/FondoMadera.png);
   background-repeat: repeat;
   margin: 2em;
color: rgb(255, 213, 0);
border: solid burlywood 2px;
    section {

    ul{
        li{
            list-style: none;
            padding-top:1em;
            color: white;
        }
        li::before{
            content:"-"; position:relative; left:-5px;


        }
    }
}
}
.t{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}