@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
        font-family: tilt neon, cursive;

}
html{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;

}
h1{
 font-size: 3vw;
}

.nav{
background-color: rgb(227, 169, 59);
border: solid black 3px;
}
.nav svg{
    width: 100%;
    
}
.nav ul li{
    
    margin-right: 17em;
}

.nav ul li a{
    display: flex;
    flex-direction: row;
    letter-spacing: 3px;
    color: black;
    

}
.nav ul li a:hover{
  color: green ; 
}
.img{
    width: 95%;
    height: 35em;
}
.bg-color{
    background-color: rgb(227, 169, 59);
    
}
.bg-color2{
    background-color:green;    
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.border{
    border: solid black 3px;
}
.bg-color2{
    background-color: white;
    word-spacing: 40px;
}
.display{
    display: inline-block;
}
.contenedor2{
    border: solid black 3px;
}
.flex{
    display: flex;
   flex-flow:column wrap;/* permite la direccion y como, wrap, nowrap. sirve para ajustarlo y que quede en la misma linea el nowrap*/
   justify-content:start;/*como se distribuyen las imagenes, izquierda derecha espaciado */
   align-items:start;/*eje vertical, como se posicionan en relacion a su height, arriba en el medio o abajo*/
}
.order1{
    order: 1;
}


.productos-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.productos-flex figure{
    border: solid black 2px;
    padding: 20px;
    background-color: beige;
   

    
}
.productos-flex figure figcaption{
    text-align: center;
}
.productos-flex figure button{
    background-color: rgb(129, 129, 5);
    color: white;
    border-radius: 10px;

}
.cla{
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: right;
    margin-left: 200px;
}
.pipi{
    display: flex;
    flex-wrap: nowrap;
margin-top: 50px;
}
footer svg{
    fill: rgb(7, 5, 1);
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
  padding: 10px;
}
.contenedor-form{
    margin-left: 30px;
    border: dotted black 3px;
    background-color: beige;
    width: 400px;
    height: 400px;
    
}
.dejanos{
    padding-bottom: 50px;
    font-size: 30px;
    
}
.container{
}
header ul li {
    list-style: none;
    text-align: right;
    border-radius: 4px;
}

.grid-merch{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 5% 50% 50%;
   padding: 10px;
   margin: 20px;

    
}
.buscar {
    grid-column:1/4;
}
.buscar button{
    border-radius: 4px;
    background-color: orangered;
}
.font-size1{
    font-size: 20px;
    
}
.tt select{
    width: 230px;
}
.none li{
    list-style: none;
}
.bg-color3{
    background-color:rgb(47, 150, 47); 
       
}
.bg-color4{
    background-color:rgb(146, 154, 80); 
      
}
.bg-color5{
    background-color:rgb(0, 23, 128);   
    
}
.bg-color6{
    background-color:rgb(68, 0, 128);  
      
}
.bg-color7{
    background-color:rgb(175, 143, 245);    
    
}
.bg-color7 ul li {
    background-color: aqua;
    list-style: none;
    
}
.bg-color8{
    background-color:rgb(128, 49, 0);  
     
}
.bg-color9{
    background-color:rgb(128, 0, 94);    
}
.bg-color10{
    background-color:rgb(128, 0, 75);    
}
select{
    background-color:coral;
    border-radius: 3px;
    color:rgb(25, 4, 4);
}
select:hover{
    color: rgb(14, 237, 92);
    border-radius: 3px;
}
.entrada{
    grid-area: entrada;
}
.principal{
    grid-area:principal ;
}
.terraza{
    grid-area: terraza;
}
.t-texto{
    grid-area: t-texto;
}
.e.texto{
    grid-area: e-texto;
}
.p-texto{
    grid-area: p-texto;
}
.contenedor{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20em 20em 20em;
    grid-template-areas:
    "entrada e-texto"
    "principal p-texto"
    "terraza t-texto" ;
    justify-content: center;
    align-items: center;
 
  }
@media (width < 500px){
    .contenedor{
        grid-template-columns: 100vw;
        grid-template-rows: repeat(6,20vh);
        grid-template-areas: 
        
        "entrada"
        "e-texto"
        "principal"
        "p-texto"
        "terraza"
        "t-texto";
    
    }
  
    
}
footer{
width: 100%;
}