@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Rubik+Iso&display=swap');/* google fonts */
*{
	margin: 2px;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
html{
    font size: 62.5%;
}
h1{

}
h2{

}
h3{

}
.font-family{
    font-family:Rubik Iso, cursive;
    
}

.font-family2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.color-de-letra{
    color: rgb(0, 73, 0);
}
.font-size{
    font-size: 2rem;
    line-height: 2,2rem;
    width: 100%;

}
header img{
    width: 100%;
}
nav{
    
   /* position:fixed;
    top: 0px;
    left: 0px;/*como si fuese ad re gede*/
}
nav ul{
    list-style:none;
    display:;

}
nav ul li a{
    display: inline-block
    

}
.text-align{
    text-align:center ;
}
.bg-color{
    background-color:rgb(30, 207, 77);
}
.bg-image{
    background-image: url();
    background-repeat: no-repeat;
    background-position: 10px 40px;
    background-attachment: fixed;
}
.box-model{
width: 100%;/*nunca en medida absoluta*/
height: auto;
margin: auto;
padding:auto ;/*arriba, derecha, abajo,izquierda*/
border: solid black 5px;
overflow: auto;
}
.box-model2{
width: 13%;/*nunca en medida absoluta*/
height: auto;
margin-top:1rem ;
padding:0px;/*arriba, derecha, abajo,izquierda*/
border-width:10 px;
border: solid rgb(105, 0, 0) 2px;
overflow: auto;
}
.img-width{
    width: 19rem;
    height: 20rem;
    
}
.about div:first-child{
    
}
.about div:nth-child(4){
    Flame
}
.about div:not(.estaNo){
    color: deepink;

}
.about p.clase::first-letter{
    color: aliceblue;
}
.about p::first-line{
    color: aliceblue;
}
display: flex;
align-items: center;
justify-content: space-around;
width: 100vw;
border: solid black 3px;
padding: 10px 0 10px 0;
margin-left: 5px;
margin-right: 5px;
grid-area: nav;


display: flex;
    word-spacing: 40px;
    padding: 0px 120px;
    text-decoration: none;
    grid-area: nav;