@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"); /*Colores*/
/*text-align*/
/*Borders*/
/*fonts*/
/*margins*/
/*overflows*/
/*extends

-- es copiar y pegar una clase con algo distinto--

.border {
    border:solid black 3px;
    backgroudn-color:red;
    txt-align:right;
}

.border-img{
    @extend border;
    padding:10px;

*/
/*MAPAS
Es para tener todos los colores o todos los radios o todos los etc
*/
.nav {
  background-color: rgb(227, 169, 59);
  border: solid black 3px;
}

.nav svg {
  width: 100%;
}

.nav ul li {
  margin-right: 17em;
}

.nav ul li a {
  display: flex;
  flex-direction: row;
  letter-spacing: 3px;
  color: black;
}

.nav ul li a:hover {
  color: red;
}

footer {
  width: 100%;
  margin-top: 50px;
}

footer svg:hover {
  fill: red;
}
footer svg {
  fill: rgb(7, 5, 1);
  width: 70px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}

.pipi {
  display: flex;
  flex-wrap: nowrap;
}

.flex {
  display: flex;
  flex-flow: column wrap; /* permite la direccion y como, wrap, nowrap. sirve para ajustarlo y que quede en la misma linea el nowrap*/
  justify-content: start; /*como se distribuyen las imagenes, izquierda derecha espaciado */
  align-items: start; /*eje vertical, como se posicionan en relacion a su height, arriba en el medio o abajo*/
}

.productos-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productos-flex figure {
  border: solid black 2px;
  padding: 20px;
  background-color: beige;
}

.productos-flex figure figcaption {
  text-align: center;
}

.productos-flex figure button {
  background-color: rgb(129, 129, 5);
  color: white;
  border-radius: 5px;
}

.tt select {
  width: 15vw;
}

.none li ::before {
  content: "-";
  position: relative;
  left: -5px;
}

.none li {
  list-style: none;
}

select {
  background-color: rgb(255, 253, 252);
  border-radius: 5px;
  color: rgb(25, 4, 4);
}

select:hover {
  color: rgb(14, 237, 92);
  border-radius: 3px;
}

form button {
  border-radius: 5px;
}

@media (max-width: 500px) {
  footer {
    width: 100vw;
    height: 100vh;
  }
  footer svg {
    display: flex;
    flex-flow: row nowrap;
  }
  h1 {
    font-size: 20px;
  }
  .pipi {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .col-md-6 svg {
    width: 35px;
    height: 45px;
  }
}
* {
  font-family: tilt neon, cursive;
}

html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3vw;
}

.bg-color {
  background-color: rgb(227, 169, 59);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.border {
  border: solid black 3px !important;
}

.bg-color2 {
  background-color: white;
  word-spacing: 40px;
}

.display {
  display: inline-block;
}

.contenedor2 {
  border: solid black 3px;
}

.card-text svg {
  color: gold;
}

.card-center {
  margin: 0 auto;
  width: 50%;
}

.text-center a img {
  width: 90px;
}

.cursor {
  cursor: alias;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: black;
  font-family: tilt neon, cursive;
  text-align: center;
}

.bandera {
  background-image: url(../img/Bandera\ arg.png);
}

.form-contenedor {
  background-color: white;
  border: solid black 3px;
  margin: 1em;
  padding: 1em;
}

.col-md-6 svg {
  fill: rgb(3, 3, 142);
}

article {
  background: url(img/FondoMadera.png);
  background-repeat: repeat;
  margin: 2em;
  color: rgb(255, 213, 0);
  border: solid burlywood 2px;
}
article section ul li {
  list-style: none;
  padding-top: 1em;
  color: white;
}
article section ul li::before {
  content: "-";
  position: relative;
  left: -5px;
}

/*# sourceMappingURL=style2.css.map */
